<!DOCTYPE html>
<html>
<head>
  <!-- Title隨不同頁面變化 方法一 -->
  <title>HandcraftAbout - <%= yield :title_block %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- 一次性訊息   -->
<%= flash[:notice] %>

<%= yield %>

<!-- Title隨不同頁面變化 方法二 -->
<!-- <%= yield :bottom_js %> -->

</body>
</html>
